html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 11px;
  text-align: center;
  color: #4f7df3;
  min-height: 100vh;
}

.page {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Libre Franklin', sans-serif;
  width: 630px;
  margin: auto;
}

@media (max-width: 43.125em) {
  .page {
    width: 330px;
  }
}

.page__logo {
  width: 90px;
  height: 30px;
  background-image: url(logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;
}

@media (max-width: 43.125em) {
  .page__logo {
    width: 75px;
    height: 25px;
  }
}

.page__title {
  color: #969696;
  font-weight: 300;
  font-size: 43px;
  margin-bottom: 24px;
}

.page__title strong {
  color: black;
  font-weight: 700;
}

@media (max-width: 43.125em) {
  .page__title {
    font-size: 30px;
  }
}

.page__guidelines {
  color: black;
  font-size: 20px;
  margin-bottom: 40px;
}

@media (max-width: 43.125em) {
  .page__guidelines {
    font-size: 15px;
  }
}

.page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 10px;
  height: 60px;
  margin-bottom: 4px;
}

@media (max-width: 43.125em) {
  .page__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.page__form__input {
  width: 66%;
  border-radius: 30px;
  border: solid 1px #969696;
  padding: 15px;
}

.page__form__input:focus {
  outline: none;
}

@media (max-width: 43.125em) {
  .page__form__input {
    height: 50px;
    width: 100%;
  }
}

.page__form__input.invalid {
  border: solid 1px red;
}

.page__form__button {
  width: 33%;
  border-radius: 30px;
  background-color: #4f7df3;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.page__form__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.page__form__button:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 43.125em) {
  .page__form__button {
    height: 50px;
    width: 100%;
  }
}

.page__form__validation {
  width: 100%;
  font-size: 14px;
  text-align: left;
  margin-bottom: 70px;
  visibility: hidden;
}

@media (max-width: 43.125em) {
  .page__form__validation {
    margin-bottom: 0;
  }
}

.page__form__validation.visible {
  visibility: visible;
}

.page__form__validation.valid {
  color: green;
}

.page__form__validation.invalid {
  color: red;
}

.page__illustration {
  background-image: url(illustration-dashboard.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 390px;
  margin-bottom: 70px;
}

@media (max-width: 43.125em) {
  .page__illustration {
    margin-bottom: 0;
  }
}

.page__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.page__icons ion-icon {
  color: #4f7df3;
  font-size: 30px;
  border: solid 2px #4f7df3;
  border-radius: 50%;
  padding: 6px;
}

.page__icons .icon_2, .page__icons .icon_1 {
  margin-right: 20px;
}

.page__copyright {
  color: #969696;
  margin-bottom: 48px;
}
/*# sourceMappingURL=style.css.map */