@import "variables";
@import "mixin";

html{
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-size: 11px; 
    text-align: center; 
    color: $blue;
    min-height: 100vh;
}

.page{
    
    padding-top: 90px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    width: 630px;
    margin: auto;
    @include breakpoint-down(small){
        width: 330px
    }
    

    &__logo{
        width: 90px;
        height: 30px;
        background-image: url(logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 60px;
        @include breakpoint-down(small){
            width: 75px;
            height: 25px;
        }
    }
    &__title{
        color: $gray;
        font-weight: 300;
        font-size: 43px;
        strong{
            color: black;
            font-weight: 700;
        }
        margin-bottom: 24px;
        @include breakpoint-down(small){
            font-size: 30px;
        }
    }
    &__guidelines{
        color: black;
        font-size: 20px;
        margin-bottom: 40px;
        @include breakpoint-down(small){
            font-size: 15px;
        }
    }
    &__form{
        display: flex;
        width: 100%;
        gap: 10px;
        height: 60px;
        margin-bottom: 4px;
        @include breakpoint-down(small){
            flex-direction: column;
            height: auto;
        }
        
        &__input{
            width: 66%;
            border-radius:  30px;
            border: solid 1px $gray;
            padding: 15px;
            &:focus{
                outline: none;
            }
            @include breakpoint-down(small){
                height: 50px;
                width: 100%;
            }
        }
        &__input.invalid{
            border: solid 1px red;
        }
        &__button{
            width: 33%;
            border-radius: 30px;
            background-color: $blue;
            border: none;
            color: white;
            font-weight: 600;
            font-size: 14px;
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
            &:active{
                transform: scale(1.05);
            }
            @include breakpoint-down(small){
                height: 50px;
                width: 100%;
            }
        }
        
    }
    &__form__validation{
        width: 100%;
        font-size: 14px;
        text-align: left;
        margin-bottom: 70px;
        visibility: hidden;
        @include breakpoint-down(small){
            margin-bottom: 0;
        }
    }
    &__form__validation.visible{
        visibility: visible;
    }
    &__form__validation.valid{
        
        color: green;
    }
    &__form__validation.invalid{
        color: red;
    }
    &__illustration{
        background-image: url(illustration-dashboard.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 390px;
        margin-bottom: 70px;
        @include breakpoint-down(small){
            margin-bottom: 0;
        }
    }
    &__icons{
        display: flex;
        margin-bottom: 15px;
        ion-icon{
            color: $blue;
            font-size: 30px;
            border: solid 2px $blue;
            border-radius: 50%;
            padding: 6px;
        }
        .icon_2, .icon_1{
            margin-right: 20px;
        }
    }
    &__copyright{
        color: $gray;
        margin-bottom: 48px;
    }

}
